* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Krub', sans-serif;
}

:root {
    --primary1:#ffbe34;
    --primary2:#091242;
    --secondary1:#f4f4f4;
    --headingFont:#1c1f35;
    --pgFont:#666c89;
}

.secondary-navbarr{
    background-color: var(--primary2);
    padding: 28px 0;
}


.list-item{
    list-style-type: none;
    
}

.list-item li a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    margin-left: 14px;
    font-size: 14px;
    
}

.data-items{
    margin-left: 14px;
}

.navbar{
    background-color:rgba(9, 18, 66, 0.25);
    position: absolute;
    width: 100%;
    padding: 0;
}

.navbar.sticky {
    position: fixed;
    top: 0;
    background-color:var(--primary2);
    width: 100%;
    box-shadow: 0 3px 6px rgba(9,18,66,0.25);
}


.navbar-nav .nav-item .nav-link{
    color: white;
    font-size: 16px;
    padding: 0 22px;
    border-right: 1px solid #f4f4f456;
}

.nav-item .nav-link:hover{
    text-decoration: underline;
}

.social-links {
    list-style-type: none;
    margin-bottom: 0;
    padding-right: 1rem;
}

.social-links li a {
    color: white;
    text-decoration: none;
    padding: 0 .7rem;
    font-size: 18px;
}

.navbar .request-btn {
    color: black;
    background-color: #fff;
    padding: 27px 47px;
    font-weight: 700;
    text-decoration: none;
}

.navbar .request-btn:hover{
    background-color: var(--primary1);
    transition: all .2s ease;
}

.hero-img {
    position: relative;
    background-image: linear-gradient(105deg, #032D5F 20%, transparent 50%), url(../imgs/hero-img.png);
    height: 770px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

 .hero-content{
    position: absolute;
    top: 50%;
    
}

.hero-content span{
    border-left: 5px solid var(--primary1);
    width: fit-content;
    padding: 3px 8px;
    color: #fff;
    background: rgba(0, 0, 0, 0.181);
    text-transform: capitalize;
    margin-bottom: 12px;
    font-weight: 500;
}

.hero-content h2{
    margin-top: 18px;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 6px;
}

.hero-content p{
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
}

.hero-content a{
    color: #23212a;
    background-color: #fff;
    display: inline-block;
    padding: 18px 47px;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}

.hero-content a:hover{
    background-color: var(--primary1);
    
}

.what span{
    background: rgba(0, 0, 0, 0.181);
    padding: 8px;
    border-left: 4px solid var(--primary1);
    
}

.what h2{
    margin-top: 16px;
    font-weight: 500;
    font-size: 32px;
}

.transport figure{
    padding-right: 20px;
    margin-right: 8px;

    display: flex;
    align-items: flex-start;
}

.transport .transport-cont{
    border-left: 2px solid darkgrey;
    padding-left: 22px;
}

.transport-cont a{
    text-decoration: none;
    color: black;
    font-size: 19px;
}

.transport-cont p{
    color: #666c89;
    font-size: 15px;
}

.transport figure img{
    height: 45px;
}


.mid{
    width: 100%;
    height: fit-content;
    overflow: hidden;
    position: relative;
}


.mid-img{
    width: 100%;
    height: fit-content;
    position: relative;
    background:  url(../imgs/third.png) ;
    background-size: 140%;
    background-repeat: no-repeat;
    padding-top: 280px;
}

.mid .mid-img .middle{
    background-color: #fff;
}

.mid .mid-img .middle .row .col-md-6 span{
    background: rgba(0, 0, 0, 0.181);
    padding: 6px;
    border-left: 4px solid var(--primary1);
    
}

.mid .mid-img .middle .row .col-md-6 h4{
    margin-top: 16px;
    font-weight: 500;
    font-size: 32px;
}

.mid .mid-img .middle .row .col-md-6 p{
    color: #666c89;
    font-size: 15px;

}

.mid .mid-img .middle .row .col-md-6 .why-inner h6{
      font-weight: 500;
      font-size: 18px;
}

.mid .mid-img .middle  .row .col-md-6 ul {
    padding: 4px 0;
    border: 1px solid darkgrey;

    margin-top: 8px;
    padding: 28px;
    flex-wrap: wrap;
    list-style: none;
}

.mid .mid-img .middle  .row .col-md-6 ul li h1{
    font-size: 34px;
   
}

.transport{
    font-size: 24px;
    text-align: center;
     font-weight: 900;
}

.cards-wrap{
    background-color: var(--primary1);
    width: 100%;
    height: 300px;
    margin-top: 190px;
    
}


.transport-cards{
    position: relative;
    bottom: 140px;
    
}

.card-title{
    position: absolute;
    bottom: 7px;
    left: 14px;
}

.transport-cards a figure img{
    width: 200px;


}

.card-title h4{
    color: #f4f4f4;
    font-weight: bold;
    font-size: 16px;
}

.card-title p{
    color: var(--primary1);
    font-size: 15px;
}

.bottom-btn a{
   position: relative;
   bottom: 45px;
   left: 49%;
   text-decoration: none;
   color: #fff;
   background-color: var(--primary2);
   padding: 18px 22px;
   font-weight: bold;
   font-size: 18px;
}

.card-body {
    background-color: var(--primary2);
}

.top1 h6{
    background: rgba(0, 0, 0, 0.181);
    padding: 8px;
    border-left: 4px solid var(--primary1);
    font-size: 12px;
}

.top1 p{
   font-size: 28px;
   margin-top: 4px;
   font-weight: 900;
}

.team-connections{
    width: 155px;
    height: 40px;
    position: relative;
    left: 80px;
    bottom: 37px;
    background-color: var(--primary1);
}

.team-connections li{
    list-style: none;
}

.team-connections   a{
    margin: 5px;
    color: var(--primary2);
}

.card{
    margin: 4px;
}

.card-body h2{
    color: #fff ;
}

.card-body p{
    color: #fff;
}

.blog span{
    background: rgba(0, 0, 0, 0.181);
    padding: 6px;
    border-left: 4px solid var(--primary1); 
    text-transform: capitalize;
}

.blog h4{
    margin-top: 24px;
    text-transform: capitalize;
    font-weight: 900;
}

.pictures li{
    list-style-type: none;
}

.pictures li a{
    text-decoration: none;
    list-style-type: none;
    
}

.pictures figure img{
    width: 100%;
}

.left h6 {
  color: black;
  font-weight: 800;
  font-size: 18px;
}

.left h6:hover{
    color: var(--primary1);
}

.left p{
    color: #666c89;
    margin-top: 22px;
}

.left ul li{
    color: black;
    font-size: medium;
    
}
  
.container>ul>li{
    border: 1px solid #D6D6D6;
    padding: 28px;
    border-left: 0;
    border-right: 0;
}

  .blog-btn{
    text-decoration: none;
    color: #f4f4f4;
    background-color: var(--primary2);
   padding: 16px 28px;
   font-weight: bold;
   font-size: 18px;
  }

  .footer-banner{
    background-image: url(../imgs/footer.png);
    width: 100%;
    height: 400px;
    background-size: cover;
  }
 .footer-top {
    background-color: var(--primary2);
 }

 .footer-top p{
    color: #fff;
    margin-top: 8px;
 }

 .footer-top a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
 }

 
 .footer-2 h2{
    color: #fff;
    font-size: 32px;
    
 }
 .row .col-md-3 form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.row .col-md-3 form ul {
    width: 100%;
}

.row .col-md-3 form input {
    width: 100%;
    height: 60px;
    border: 1px solid #4E5683;
    padding: 0 12px 0;
    margin: 30px 0;
}

.nav-link i{
    color: #fff;
    font-size: 22px;
}


.footer-3 h2{
    color: #fff;
}

.footer-3  button{
    background-color: var(--primary1);
    font-weight: bold;
    outline: none !important;
    border: none !important;
    padding: 19px 36px;
    margin-bottom: 12px;

}

.main-footer .footer-bottom{
    border-bottom: 1px solid darkgrey;
}

.text ul li{
    color: #fff;
    list-style-type: none;
    margin: 6px;
}

.text p{
    font-size: 9px;
}








/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    
 }

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .data-items{
        display: none;
    }
    .transport-cont{
        display: none;
    }
    .logo-navbarr-wrap  .list-item{
        display: block;
    }
    .list-item img{
        display: none;
    }

    .hero-img{
        height: 550px;
    }

    .hero-content span{
        font-size: 12px;
    }

    .hero-content h2{
        font-size: 16px;
    }

    .hero-content p{
        font-size: 15px;
    }

    .hero-content a{
        font-size: 12px;
    }

    .col-md-6  figure img{
         display: none;
    }
.transporting{
    display: none;
}
   .pictures figure img{
      flex-direction: column-reverse;
    
   } 

   .footer-banner{
    display: none;
   }

   .my-3 img{
    display: none;
   }
   .lst-footer{
    display: none;
   }

   .text p {
    display: none;
   }

   .bottom-btn a{
    display: none;
   }
   
 }

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

 }

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

 }

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 

}




/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }
























































































































